@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


/********************
      GENERAL
********************/
html, body {
  min-height: 100vh;
  overflow: hidden;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  /* vvvv in case I want to do something with a conic gradient */
  /* background-image: conic-gradient(from 36deg at 30% 40%, #cecece 0% 12%, #ffffff 12% 80%); */
}
/********************
    END GENERAL
********************/



/********************
      NAVBAR
********************/
#navBar {
  display: flex;
  flex-direction: row;
  width: auto;
  height:50px;
  position: absolute;
  top: 0;
  left: -350px;
  /* background: rgb(29, 31, 41); */
  border-width: 2px;
  /* box-shadow: inset -10px -10px 20px; */
  border-color: white;
  border-top: 0;
  border-left: 0;
  transition: top, left, height, width, border-radius, .5s;
}
#navBar:hover{
  top: 0;
  left: 0;
}
.navItem{
  color:white;
  padding: 10px;
  margin-left: 12px;
  padding-bottom: 5px;
  transition: font-size .2s;
}
.navItem:hover {
  font-size: large;
  box-shadow: inset 0px 0px 0px 3px white;
}
/********************
    END NAVBAR
********************/


#nametag{
  animation-duration: 2.5s;
  animation-name: slideup;
}

@keyframes slideup {
  from {
    margin-top: 100%;
  }
  to {
    margin-top:0%;
  }
}


/********************
        LINKS
********************/

/* #links{
  display: flex;
  flex-direction: row;
} */

/********************
      END LINKS
********************/

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
